@import '@/style/mixin.scss';
view,
page,
text,
button,
image,
textarea,
scroll-view,input {
	box-sizing: border-box;
}
image {
	display: block;
}
button {
	margin: 0;
	padding: 0;
	background-color: #FFFF;
}
button::after {
	border: none;
}
// 主题背景色
.themeBgColor {
	background-color: $themeColor;
}
// 主题字体色
.themeFontColor {
	color: $themeColor !important;
}
.uni-list-cell-navigate {
	font-size:30upx;
	padding: 22upx 30upx;
	line-height: 48upx;
	position: relative;
	display: flex;
	box-sizing: border-box;
	width: 100%;
	flex: 1;
	justify-content: space-between;
	align-items: center;
}
.uni-list-cell-navigate {
	padding-right: 36upx;
}
.uni-navigate-badge {
	padding-right: 50upx;
}
.uni-list-cell-navigate.uni-navigate-right:after {
	font-family: uniicons;
	content: '\e583';
	position: absolute;
	right: 24upx;
	top: 50%;
	color: #bbb;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.uni-list-cell-navigate.uni-navigate-bottom:after {
	font-family: uniicons;
	content: '\e581';
	position: absolute;
	right: 24upx;
	top: 50%;
	color: #bbb;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.uni-list-cell-navigate.uni-navigate-bottom.uni-active::after {
	font-family: uniicons;
	content: '\e580';
	position: absolute;
	right: 24upx;
	top: 50%;
	color: #bbb;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.uni-collapse.uni-list-cell {
	flex-direction: column;
}
.uni-list-cell-navigate.uni-active {
	background: #eee;
}

// .content {
// 	display: flex;
// 	flex: 1;
// 	flex-direction: column;
// 	background-color: #efeff4;
// 	padding: 20upx 0;
// 	width: 100%;
// }

.input-group {
	background-color: #ffffff;
	margin-top: 40upx;
	position: relative;
}

.input-group::before {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	height: 1upx;
	content: '';
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
}

.input-group::after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 1upx;
	content: '';
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
}

.input-row {
	display: flex;
	flex-direction: row;
	position: relative;
}

.input-row .title {
	width: 20%;
	height: 50upx;
	min-height: 50upx;
	padding: 15upx 0;
	padding-left: 30upx;
	line-height: 50upx;
}

.input-row.border::after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 15upx;
	height: 1upx;
	content: '';
	-webkit-transform: scaleY(0.5);
	transform: scaleY(0.5);
	background-color: #c8c7cc;
}

.btn-row {
	margin-top: 50upx;
	padding: 20upx;
}

button.primary {
	background-color: $theme-bg-color !important;
}

text.primary {
	color: $theme-fg-color !important;
}

// view, text, button背景色
view.green-bg-color, text.green-bg-color, button.green-bg-color {
	background-color: $green-bg-color !important;
}

// view, text, button前景色
view.green-fg-color, text.green-fg-color, button.green-fg-color {
	color: $green-fg-color !important;
}

.left {
	float: left;
}

.right {
	float: right;
}

.form {
	width: auto;

	.input-view {
		.input-row {
			border-bottom: 1upx solid #cccccc;
			.uni-input {
				height: 36upx;
				padding: 20upx 0;
				font-size: 30upx;
				line-height: 36upx;
			}
		}
	}
}

.button {
	border-radius: 60upx;
	letter-spacing: 6upx;
}

.navigator-common {
	display: block;
	padding: 20upx;
}

.list-view {
	width: 100%;
	background: #eeeeee;
	.search-view {
		background: #eeeeee;
		line-height: 1;
		position: fixed;
		z-index: 1000;
		width: 100%;
		height: 100upx;

		.search-form {
			width: calc(100% - 60upx);
			margin: 20upx 30upx;
			display: inline-block;
			background: #ffffff;
			border-radius: 10upx;
			height: 60upx;
			.filter-view {
				posotion: relative;
				.filter-picker {
					top: 20upx;
					height: 60upx;
					padding: 8upx 14upx;
					border: 1upx solid #eeeeee;
					border-radius: 10upx;
					position: absolute;
					width: 90%;

					.filter-view-down-image {
						width: 40upx;
						height: 30upx;
						top: 20upx;
						left: 90%;
						position: absolute;
					}

					.input-text {
						white-space: nowrap;
						max-width: 90%;
						display: inline-block;
						text-overflow: ellipsis;
						word-break: break-all;
						overflow: hidden;
						height: 60upx;
					}
				}

				.filter-input {
					top: 24upx;
					position: absolute;
					margin-left: 42%;
					font: inherit;
					display: inline-block;
					width: 40%;
				}
			}

			.search-button::after {
				border: none;
			}
			.search-button {
				display: inline;
				background: none;
				margin: -20upx 0 0 100%;
				padding: 12upx 20upx;
				float: left;
			}
			.search-image {
				width: 40upx;
				margin: 0;
				height: 40upx;
			}
		}
	}

	.no-data-view {
		display: flex;
		height: 100%;
		justify-content: center;
		align-items: center;
		color: #959595;
	}

	.loading {
		padding: 30upx 0;
		color: #959595;
		text-align: center;
	}
}
.uni-base-page {
	width: 100%;
	height: 100%;
}
.red-help-text {
	color: red;
}
.bottom-btn-view {
	width: 100%;
	position: fixed;
	bottom: 0;
	z-index: 100000000;
}
.btn {
	border-radius: 0px;
	font-size: 32upx;
}
.bottom-btn-view .btn::after {
	border-radius: 0;
}
/* form视图必填 */
.form-view .require-text {
	margin-right: 6upx;
	color: red;
}

/* 普通按钮点击背景颜色改变 */
.common-btn-hover {
	background: #f5f5f5;
}

/* 反馈状态 */
.status {
	font-size: 24upx;
	color: #ffffff;
	border-radius: 20upx;
	padding: 0 8upx;
}

.status-0 {
	background-color: #007aff;
}

.status-1 {
	background-color: #ffb400;
}

.status-2 {
	background-color: #bebebe;
}

/* 超出两行省略 */
.two-line {
	color: #000000;
	width: 80%;
	line-height: 50upx;
	max-height: 100upx;
	text-overflow: -o-ellipsis-lastline;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	overflow: hidden;
	-webkit-box-orient: vertical;
}

.text-overflow {
	white-space: nowrap;
	text-overflow: ellipsis;
	word-break: break-all;
	overflow: hidden;
	display: inline-block;
}

.gray {
	color: rgba(0, 0, 0, 0.36);
}

/* 分隔线 */
.dividing-line {
	font-family: PingFangSC-Regular;
	font-size: 14px;
	color: rgb(136, 136, 136);
	letter-spacing: 0px;
	text-align: left;
	padding: 4px;
	background: #f5f5f5;
}

/* 记录列表样式 */
.list-view-container {
	width: 96%;
	margin: 0 auto;
	.list-ul-container {
		list-style: none;
		padding: 0;
		.list-item-container {
			border: 1upx solid #d9d9d9;
			border-radius: 15upx;
			padding: 10upx;
			margin: 20upx auto;
			.list-item {
				width: 100%;
				height: auto;
				min-height: 60upx;
				line-height: 100%;
				display: inline-flex;
				.left-name {
					display: inline-block;
					width: 30%;
					color: #aaaaaa;
					margin-top: 3%;
				}
				.right-info {
					display: inline-block;
					width: 70%;
					margin-top: 3%;
				}
				.top-title {
					width: 85%;
				}
				.status-tab {
					width: 13%;
					margin-left: 2%;
					float: right;
					color: #ffffff;
					background-color: #d1d1d1;
					border-radius: 20upx;
					padding: 0 6upx;
					height: 50upx;
					text-align: center;
					font-size: 26upx;
				}
				.status-btn {
					width: 13%;
					margin-left: 2%;
					float: right;
					color: #1e90ff;
					border-radius: 20upx;
					padding: 0 6upx;
					height: 50upx;
					text-align: center;
					font-size: 26upx;
					border: 1upx solid #1e90ff;
				}
			}
			.top-title-item {
				padding: 8upx 0;
				border-bottom: 1upx solid #dddddd;
			}
		}
	}
}

/* 详情页面列表样式(左右分布式) */
.info-list {
	background: #ffffff;
	min-height: 100upx;
	height: auto;
	width: 94%;
	display: inline-flex;
	margin-left: 3%;
	margin-right: 3%;
	margin-bottom: 4upx;
	border-bottom: 2upx solid #eeeeee;
}

.left-cnt {
	width: 30%;
	text-align: left;
	display: inline-block;
	margin-top: 3%;
	color: gray;
}

.right-cnt {
	width: 62%;
	padding-left: 18upx;
	text-align: left;
	display: inline-block;
	margin-top: 3%;
}

.require-text {
	color: red;
}

.hover-class {
	opacity: 0.6;
}

// 获取信息页面的一些公共样式
.info {
	width: 100%;
	.info-content {
		width: 100%;
		.top-item-container {
			border-top: 2upx solid #CCCCCC;
		}
		.info-item {
			padding: 20upx;
			overflow: hidden;
			border-bottom: 2upx solid #CCCCCC;
			input {
				font-size: 30upx !important;
			}
		}
		.get-info-btn,
		.set-info-btn,
		.operation-btn {
			padding: 30upx 20upx 0;
		}
	}
}